---
import projects from '../content/projects.json'
import GithubLogo from '../components/GithubLogo.astro'
---

<ul>
    {projects.map((project) => (
    <li key={project.title}>
        <a href={project.url} class="icon-link">
        <GithubLogo />
        {project.title}
        </a>
        <p>{project.description} <a href={project.imageUrl} target="_blank" rel="noopener noreferrer">View image</a></p>
    </li>
    ))}
</ul>
